TIMER_DELAY=60
DB_URI=postgresql://watcher:watcher@localhost:5432/watcher
WATCHER_LOG_FILENAME=/tmp/watcher.log
INGESTERS_ENABLED=FtmKeepersIngest,BscKeepersIngest,BaseKeepersIngest

WEB3_PROVIDER_URI=https://rpc.ankr.com/fantom
BSC_WEB3_PROVIDER_URI=https://bsc-dataseed.binance.org/
BASE_WEB3_PROVIDER_URI=https://mainnet.base.org
